.container {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  padding: 5px;
  display: flex;
}

.card {
  border: 2px solid red;
}

.card > a {
  text-decoration: none;
}

.nav {
  display: flex;
  float: right;
  padding: 5px;
}
